/* You can add global styles to this file, and also import other style files */
ngb-datepicker-month-view {
  margin-top: 24px;
}

ngb-datepicker-month-view > table {
  font-size: 20px;
  line-height: 30px;
  min-width: 100%;
}

ngb-datepicker-month-view .btn {
  min-width: 15px;
}

ngb-datepicker table {
  min-width: 100%;
  padding-top: 15px;
}

ngb-datepicker {
  min-width: 90%;
}

/* loaders.css */

.bootstrap-anim {
  position: absolute;
  margin: auto;
  top: 45%;
  left: 48%;
}

.ball-scale-ripple-multiple > div {
  border-color: dodgerblue;
}

.ball-pulse > div {
  border-color: dodgerblue;
  background: dodgerblue;
}

.loader-msg {
  margin-left: -50px;
  padding-top: 30px;
}

.loader-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.col-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: center; */
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
}